*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f0f0f0;

    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#coin{
    width: 250px;
    border-radius: 50%;

    transition: 0.1s;

    &:active {
        scale:1.05;
    }

}

#buyUpgrade{
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(156, 207, 224, 0.693);
    border: none;
}